* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background 0.5s, position 0.5s, border-radius 0.5s, padding 0.5s;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header img {
    object-fit: cover;
    width: 330px;
    height: 100px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: rgb(53, 66, 74);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    z-index: 10;
    border-radius: 0;
    left: 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

section {
    padding: 40px 20px;
    margin: 40px 20px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.about, .services, .contact {
    padding: 40px 0;
}

.about h2, .services h2, .contact h2, .extra h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: rgb(56, 56, 56);
}

.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    font-size: 1.2em;
    margin: 10px 0;
}
.github a {
    color: #ff001f;
    text-decoration: none;
}
.contact p {
    font-size: 1.1em;
}
.contact a {
    color: #ff001f;
}
.extra {
    background: #e2e2e2;
    padding: 60px 0;
}

body.dark {
    background-color: #121212;
    color: #da9d1a;
}

body.dark .about h2, 
body.dark .services h2, 
body.dark .contact h2, 
body.dark .extra h2 {
    color: #da9d1a;
}

body.dark header {
    background: rgb(41, 41, 41);
}

body.dark section {
    background: #1c1c1c;
}

body.dark footer {
    background: rgb(30, 30, 30);
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-top: 20px;
    width: 100%;
}

footer p {
    margin: 0;
}
